mappings/rapport_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="rapport_data">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>

              <xs:element name="date_rapport" type="xs:string" minOccurs="0"/>
              <xs:element name="appellation_produit" type="xs:string" minOccurs="0"/>
              <xs:element name="nom_entreprise_client" type="xs:string" minOccurs="0"/>
              <xs:element name="adresse_entreprise_client" type="xs:string" minOccurs="0"/>
              <xs:element name="nom_destinataire" type="xs:string" minOccurs="0"/>
              <xs:element name="titre_poste_destinataire" type="xs:string" minOccurs="0"/>

              <xs:element name="Lieu_de_prelevment" type="xs:string" minOccurs="0"/>
              <xs:element name="date_heure_prelevment" type="xs:string" minOccurs="0"/>
              <xs:element name="adresse_prelevement" type="xs:string" minOccurs="0"/>
              <xs:element name="ville_prelevement" type="xs:string" minOccurs="0"/>
              <xs:element name="conditions_coservation_reception" type="xs:string" minOccurs="0"/>
              <xs:element name="date_heure_arrive_labo" type="xs:string" minOccurs="0"/>
              <xs:element name="temperature_reception" type="xs:string" minOccurs="0"/>
              <xs:element name="date_heure_mise_en_analyse" type="xs:string" minOccurs="0"/>

              <xs:element name="fournisseur_fabricant" type="xs:string" minOccurs="0"/>
              <xs:element name="nom_produit" type="xs:string" minOccurs="0"/>
              <xs:element name="conditionnement" type="xs:string" minOccurs="0"/>
              <xs:element name="espece" type="xs:string" minOccurs="0"/>
              <xs:element name="agrement" type="xs:string" minOccurs="0"/>
              <xs:element name="origine" type="xs:string" minOccurs="0"/>
              <xs:element name="lot" type="xs:string" minOccurs="0"/>
              <xs:element name="date_emabalage" type="xs:string" minOccurs="0"/>
              <xs:element name="code_article" type="xs:string" minOccurs="0"/>
              <xs:element name="dlc" type="xs:string" minOccurs="0"/>

              <xs:element name="lot_precice" type="xs:string" minOccurs="0"/>
              <xs:element name="imp" type="xs:string" minOccurs="0"/>
              <xs:element name="k_value" type="xs:string" minOccurs="0"/>

              <xs:element name="conformite" type="xs:string" minOccurs="0"/>
              <xs:element name="qualite" type="xs:string" minOccurs="0"/>

              <xs:element name="date_du_jour" type="xs:string" minOccurs="0"/>
              <xs:element name="report_number" type="xs:string" minOccurs="0"/>
              <xs:element name="numero_rapport" type="xs:string" minOccurs="0"/>
              <xs:element name="file_name" type="xs:string" minOccurs="0"/>

            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
